@model QLThuVien.Models.nhanvien

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!-- MAIN -->
<div id="main">
    <!-- wrapper-main -->
    <div class="wrapper">
        <!-- content -->
        <div id="content">
        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @id = "login" }))
        {
                    
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            if (ViewBag.Message != null)
            {
                <div style="border:1px solid red; color:Highlight; width:70%; height:40px">
                    @ViewBag.Message
                </div>
            }
            <div>
				@Html.Label("Tên đăng nhập")
				@Html.TextBoxFor(a => a.tenDangNhap)
            </div>
				
			<div>
				@Html.Label("Mật khẩu")
				@Html.PasswordFor(a => a.matKhau)
            </div>
                
			
			<div>
                <input class="btn btn-default" type="submit" value="Login" name="Login">
			</div>
            @Html.ValidationMessageFor(a => a.tenDangNhap)
            <br />
            @Html.ValidationMessageFor(a => a.matKhau)
        }
        </div>
    <!-- ENDS content -->
    </div>
    <!-- ENDS wrapper-main -->
</div>
<!-- ENDS MAIN -->
